/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #fff;
}

.jumbotron {
  height: 630px;
  background-image: url(./img/jumbo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  height: 80px;
}

li {
  list-style-type: none;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
}

.login {
  text-align: right;
}

.header-content {
  text-align: center;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

 h1 {
  margin-bottom: 60px;
  font-size: 3rem;
  line-height:3rem;
}

 p {
  font-size: 1.2rem;
}

/* UTILS */

.debug-border {
  border: 1px red solid;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.sp-around {
  justify-content: space-around;
}

.mx-50 {
    margin: 0 50px;
}

.align-center {
    text-align: center;
}

#navbar {
  background-color: #294db5;
}

#navbar > div {
  align-items: center;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #dedede;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.py-20 {
  padding: 20px 0;
}

.py-50 {
    padding: 100px 0;
}

.pt-1 {
    padding-top: 2rem;
}

.mb-20 {
    margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-right: 20px;
  background-color: #fff;
  font-size: 1rem;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-secondary {
  background-color: #6c7ab7;
  color: #fff;
}

.btn-small {
  padding: 10px 15px;
  font-size: 0.9rem;
}

.col-large {
  width: 60%;

}

.col-small {
  width: 40%;
  padding: 4rem ;
}

.reverse {
    flex-direction: row-reverse;
}

.block {
    display: block;
    margin: 0 auto;
}
